profilePage {
    display: grid;
    gap: 20px;
    &__container {
        display: flex;
        gap: 20px;
    }

}

.profile {
    &__avatar {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        object-fit: cover;
        cursor: pointer;
    }
}

button {
    background: transparent;
    border: none;
}